
/* LANDING PAGE */
.navbar-custom
{
  background-color:#2c2d30;
  margin: 0%;
  padding: 0;
}

.elem-hide
{
  display: none;
}
.nav-link
{
  color: rgb(255, 255, 255); 
  font-size: x-large; 
  font-weight: bold;
}

.nav-link:hover{
  background-color: blue;
  color:white;
 
}
.nav-item{
  padding-left: 10px;
}


.grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 33.33%) ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;
}
.card {
  float: left;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding:0;

}
.card-body{
  height: 100%;width:100%;
  padding: 0%;
  
}

.disp-img{  cursor: pointer; 
  width: 100%; 
  height:100%; 
  object-fit: cover;
  margin: 0%;
  }

/* POST DETAILS PAGE */
.layout
{
  width: 90%; 
  margin-left: auto; 
  margin-right: auto;
  padding:20px;
  /* margin-bottom: 40px; */

}
.comments-sec, .profile
{
  display: inline block;
}
.comments-sec{
  float: left;
  width: 60%;
}
.profile
{
  float:right; 
  width:40%; 

}
.details
{
  width: 100%;
 
}
.img-sec
{
  text-align: center; 
  margin-bottom: 5%;
}
.img-primary
{
  width: 100%; 
  height: 500px;
  cursor: pointer;
  object-fit: cover;
}
.fa-heart
{
  font-size: 1.75em;
  color:gray;
  cursor: pointer;
}
.content
{
  width: 100%;
}
.title
{
  font-weight: bolder; 
  font-size: x-large ;
}


.profile-body
{
  margin-top: 20px; 
  margin-bottom: 30px;
  font-style: italic;
  font-size: medium;
  width: 100%;
}
.a-btn
{
  background-color: #1E90FF;
  border-radius: 10px; 
  border: thin solid; 
  padding: 10px; 
  color: white;
}
.tag-sec
{
  text-align: left;
}
.disp-tags
{
  margin-top: 20px;
  font-size: smaller;
}
.grid-small
{
  display: grid;
  grid-template-columns: repeat(3, 33.33%) ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0;
}
.a-tag
{ 
  display: table; 
  padding: 1px; 
  border: thin solid; 
  border-radius: 5px; 
  margin-inline-end: 10px;
  color:#1E90FF
}
.a-tag:hover
{
  background-color: #1E90FF; 
  text-decoration: none;
}
.logo
{
  width:110px; 
  height:60px;
  border:none;
}

body
{
  background-color:#ECEFF1;
  padding: 0;
  margin: 0;
}
.container
{
  width: 70%;
  padding:2%;

}

textarea{width: 100%;}
.sm-btn
{
  background-color: #1E90FF;
  border-radius: 8px; 
  border: thin solid; 
  padding: 5px; 
  color: white;
  font-size: xx-small;
  width: 90px;
}
.footer
{
  /* margin-left: 10%;
  margin-right: 10%; */
  overflow:hidden;
  color:black;
  background-color:whitesmoke;
  
}
.about, .tag-cat
{
  display:inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about
{
  padding-right: 10%;
  width:60%;
  float:right;
  
}
.tag-cat{
  padding-left: 10%;
  float: left;
  width:40%;
  padding-inline-end: 5%;
}
.footer-tag
{
  color:#1787f8;
  display: table; 
  padding: 1px; border: thin solid; 
  border-radius: 5px; 
  margin-inline-end: 10px;
  font-size: medium;
  text-align: center;
  font-weight: normal;
  margin-bottom: 10px;

}
.footer-tag:hover
{
  background-color: #1E90FF; 
  text-decoration: none;
}
#other-info, #about-me
{
  display: inline block;
}
#other-info
{
  float: right;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40%;
  padding: 20px;
  font-size: larger;
  
}
#about-me
{ 
  float: left;
  width: 50%;

}
h3{
  font-weight: bold;
}
.list-div{
  font-size: medium;
  font-style: italic;
  text-align: left;

}

.custom-div, .basic-div
{
  display:inline-block;
  
}
.custom-div{
  width: 40%;
  float: right;;

}
.custom-card{
  /* border: thin solid; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  /* float:left; */
  text-align: center;
  padding:20px;

}

.basic-div
{
  float: left;
  width: 50%;
  text-align: left;
  padding-right: 10%;

}
.input-form
{
  border-radius: 4px;
  padding:10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width:100%;

}
checkbox
{
  margin-bottom: 20px;
}
.prof-img
{
  width:250px;
  height: 250px;
  border-radius: 50%;
  border: thin solid #ccc;
  overflow: hidden;
  margin-bottom: 20px;
 
}

.prof-img img{
  width: 100%;
}
.contact{
  margin-top: 30px;
  font-size: large;
}
a:hover
{
  font-weight: bolder;
  text-decoration: none;
}
.m-card{
  width:80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding:10px;
  min-height: 150px;
  margin-bottom: 20px;;
}

 .comment-div{
  width: 80%;
} 
.comment-add-div{

  width:100% 
} 
.flash-msg{
  font-style: italic;
  color: red;
}
.inline-div,.img-div
{
  display:inline-block;
}
.inline-div{
  float: left;
  width: 50%;
}
.img-div{
  float: right;
  width: 40%;
  margin-left: 10px;
}
.sm-layout{
  width: 70%;
  margin-left: auto; 
  margin-right: auto;
  padding:20px;
}

/* MEDIA QUERIES */
@media screen and (max-width:768px){
  .grid 
  {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 100%) ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0;
  }
  .grid-small
  {
    display: grid;
    grid-template-columns: repeat(1, 100%) ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
  }

  .details
  {
    width: 100%;
    margin-bottom: 30px;
    
  }
  .profile{
    width: 100%;
    float:left;
  }
  .comments-sec{
    width: 100%;
  }
  #other-info, #about-me
  {
    width: 100%;
    margin-bottom: 20px;
  }
  .container{
    width: 90%;
  }
  .inline-div{
    width: 100%;
  }
  
  .img-div{
    margin-bottom: 10px;
  }
  .custom-div{
    width:100%;
    margin-bottom: 20px;
  }
  .basic-div{
    width: 100%;
    text-align:center;
  }
  .prof-img
  {
    width:180px;
    height:180px;
    border: thin solid #ccc;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

  }
}
  