
<div class='container'>
    <div class='comment-div1'>
        <h3>Leave a comment</h3>
        <form method='POST' id='comment-form'>
            <textarea name="comment_text" id="" cols="70" rows="5" id="comment-id" class='input-form'></textarea>
            <p><button type='submit' class='sm-btn'>OK</button></p>
        </form>
    </div>
    
    <div class = 'comment-div' id='add-section'>
        <h3 style=" font-weight: bolder;">Comments</h1>
    </div>        
</div> 
        <!-- TEMPLATE -->
    <template id='comment-template'>
        <div class="card" style='min-width: 100%;'>
            <div class="card-body">
                <h7 style='font-weight: bold;'></h7>
                <p style="font-size: small; font-style: italic; color:navy;"></p>
                
                <form method='PUT' id='comment-edit-form'>    
                    <p id='comment-para'></p>
                    <p><textarea class="input-form" name="comment_edit" cols="65" rows="1" id='comment' 
                                style="border:none; display:none;"></textarea></p>

                    <button type='submit' id='edit-ok' class = 'sm-btn' style='display: none;'><i class="fas fa-edit"></i>OK</button>
                    <button type='submit' id='edit-cancel'  class = 'sm-btn' style='display: none;'><i class="fas fa-ban"></i></i>Cancel</button>
                    <button type='button' id='edit-edit'   class = 'sm-btn' style='display: inline;'><i class="fas fa-edit"></i>Edit</button>
                    <button type='button' id='delete-comment'  class = 'sm-btn' ><i class="fas fa-trash-alt"></i>Del</button>   
                </form>               
            </div> 
        </div> 
    </template>
           
       

