<div class='layout'>
    
    <!-- POST DETAILS SECTION -->
    <div class='details'>
        <p class = 'title' id='post-title'></p> 
            <img src="" class = 'img-primary' id = 'post-img' alt="Image unavailable"> 
        <br><br>
        <p><i class="fas fa-heart" id="heart-id" style='color: gray;'></i></p>      
        <p class = 'content' id='post-content'></p>
        <a href="#" id='post-edit' class='btn btn-primary'>Edit</a> 
    </div><br>

    <!-- LEAVE COMMENT SECTION -->
    <div class='comments-sec'>
        <div class='comment-div'>
            <h3>Leave a comment</h3>
            <form method='POST' id='comment-form'>
                <textarea name="comment_text" id="" cols="70" rows="5" id="comment-id" class='input-form'></textarea>
                <p><button type='submit' class='btn btn-primary'>OK</button></p>
            </form>
        </div>
        <!-- ADD COMMENTS HERE  -->
        <div class = 'comment-add-div' id='add-section'>
            <h3>Comments</h1>
            <div id='comment-flash'></div>
        </div>
    </div>

    <!-- POST CREATOR SECTION -->
    <div class='profile'>
        <div style='text-align: center;'>
            <h3 id='creator-name'></h3>
            <div class='profile-body'>
                <div id='creator-bio'>
                </div>
            </div><br>
            <a href="#"><button class='a-btn'>Read my bio</button></a>
        </div><br><br><br>
        <div class='tag-sec'>
            <h3>Tags<h3>
            <hr />
            <div class='grid-small' id='tag-list'>
            </div>
        </div>  
        <br><br>
        <div id='related-div'>
            <h3>Related Posts</h3>
            <hr>
            <ul class='list-div' id='related-posts'>
            
            </ul>
        </div>  
    </div> 

   
</div>
    
    <!-- COMMENTS TEMPLATE SECTION -->
    <template id='comment-template'>
        <div class="m-card" id='comment-card'>
                <h7 style='font-weight: bold;'></h7>
                <p style="font-size: small; font-style: italic; color:navy;"></p>
                
                <form method='PUT' id='comment-edit-form'>    
                    <p id='comment-para'></p>
                    <p><textarea class="input-form" name="comment_edit" cols="65" rows="3" id='comment' 
                                style="border:none; display:none; margin: 0;"></textarea></p>

                    <button type='submit' id='edit-ok' class = 'sm-btn' style='display: none;'><i class="fas fa-edit"></i>OK</button>
                    <button type='submit' id='edit-cancel'  class = 'sm-btn' style='display: none;'><i class="fas fa-ban"></i></i>Cancel</button>
                    <button type='button' id='edit-edit'   class = 'sm-btn' style='display: inline;'><i class="fas fa-edit"></i>Edit</button>
                    <button type='button' id='delete-comment'  class = 'sm-btn' ><i class="fas fa-trash-alt"></i>Del</button>   
                </form>               
         
        </div> 
    </template>
    <template id='no-comments'>
        <p class='flash-msg'>Be first to comment!</p>
    </template>
