
<div class="container">
    <h3>Edit the post</h3>
    <div id='edit-flash'></div>
    <form method = PUT enctype="multipart/form-data" id="edit-form">

        <input type="text" name = "edit_title" required value="" id="title-id" class='input-form'>
        <textarea name="edit_text" required id="textarea-id" cols="80" rows="8" id="content-id" class='input-form'></textarea>
        
        <div class='inline-div'>
            <p><strong>Select tags:</strong></p>
            <select class="input-form" name="tag_list" required multiple>
                <option value="1">Travel</option>
                <option value="2">Lifestyle</option>
                <option value="3">Food</option>
                <option value="4">Nature</option>
                <option value="5">Art</option>
                <option value="6">Tech</option>
                <option value="7">Business</option>
                <option value="8">Politics</option>
            </select>
        </div>
        <img class='img-div' src="" style="width:400px;height:200px;" id='img-id'>
        <p ><strong><label for="img">Select image:</label>
        <input type="file" id="img" name="img" accept="image/*"></strong></p>
        <br>
        <button type="submit" id="submit-btn" class="btn btn-primary"><i class="fas fa-edit"></i>Edit</button>
        <button type="button" id="delete-btn" class="btn btn-primary"><i class="fas fa-trash-alt"></i>Delete</button>
        
    </form>
    
</div>


