<div class='grid' id='home-grid'>

</div>

<div class='footer'>
    <div class='about'>
        <h3>About</h3>
        <hr />
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Ad voluptas quas corrupti in doloribus temporibus, praesentium ducimus,
            alias eveniet aut necessitatibus sed fuga qui nemo beatae vero debitis facere est!
        </p>
        <h3>Contact</h3>
        <hr />
        <p><i class="fas fa-envelope-square"></i> Email: blog@gbt.tech</p>
        <p><i class="fas fa-phone"></i> Phone: 01-123456</p>
        <p><i class="fas fa-map-marker-alt"></i> Address: Kathmandu, Nepal</p>
    </div>
    <div class='tag-cat'>
        <h3>Tags<h3>
        <hr />
        <div class='grid-small'>
            <a href="#/posts/tags/Travel" class ='footer-tag'>Travel</a>
            <a href="#/posts/tags/Lifestyle" class ='footer-tag'>Lifestyle</a>
            <a href="#/posts/tags/Food" class ='footer-tag'>Food</a>
            <a href="#/posts/tags/Nature" class ='footer-tag'>Nature</a>
            <a href="#/posts/tags/Art" class ='footer-tag'>Art</a>
            <a href="#/posts/tags/Tech" class ='footer-tag'>Tech</a>
            <a href="#/posts/tags/Business" class ='footer-tag'>Business</a>
            <a href="#/posts/tags/Politics" class ='footer-tag'>Politics</a>
        </div>
    </div>
    </div>
</div>
    
<template id='home-template'>
    <div class="card">
        <div class="card-body">
                <img src="" class = 'disp-img' id = 'post-image' alt="Image unavailable">  
        </div>
        <div class="card-footer"><a href="#" class='a-title' id='post-title'></a></div>
    </div>
</template>

<template id='no-post'>
    <p>No posts!</p>
</template>