

<div class='layout'>                   
    <div id='other-info'>
        <p id='name-info'><i class='fa fa-user-circle'></i></p>
        <p><i class="fas fa-address-card"></i></p>
        <p><i class="fa fa-envelope-square" aria-hidden="true"></i></p>
        <br><br>
   
        <div class='tag-sec'>
            <h3>My Posts<h3>
            <hr />
            <div id='add-flash'></div>
            <ul class='list-div' id='other-posts'>
            
            </ul>
        </div>  

    </div>
    <div id='about-me'>  
        <h3>About me</h3>
        <hr>
        <p class="profile-body"></p>
    </div>
   
</div>

